# Remove Gif Maker
/addons/CCapture.all.min.js

# Not using sound scripts
/addons/p5.sound.js
/addons/p5.sound.min.js
/addons/p5.dom.js

#Remove commit tracker
commit_tracker.txt

#Remove VSCODE
.vscode